body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  /* background-image: linear-gradient(135deg, rgb(24,42,115) 0%, rgb(33,138,174) 69%, rgb(32, 167, 172) 89%) !important; */
  background-color: #dc3030;
}

.react-datepicker-wrapper {
  width: 100%;
}
.dashboard-segment-hover:hover {
  filter: brightness(1.1) !important;
}
/* .deleteButtonHover {
  background-color: white !important;
  color: red !important;
  border: 1px solid red !important;
}
.deleteButtonHover:hover {
  background-color: #dc3030 !important;
  color: white !important;
} */
.deleteButton {
  background-color: white !important;
  color: red !important;
}
.deleteButton:hover {
  border: 1px solid red !important;
}
.blueHover:hover {
  color: blue;
}
.slick-prev,
.slick-next {
  cursor: pointer;
  background-color: #dc3030;
  color: white;
  font-size: 16px;
  width: 42px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev {
  left: 1em;
}

.slick-next {
  right: 1em;
}


